
*.pyc
.venv/Lib/site-packages/pip/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/__pycache__/__main__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/build_env.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/cache.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/configuration.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/exceptions.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/pyproject.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/self_outdated_check.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/__pycache__/wheel_builder.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/autocompletion.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/base_command.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/cmdoptions.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/command_context.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/main.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/main_parser.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/parser.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/progress_bars.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/req_command.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/spinners.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/cli/__pycache__/status_codes.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/commands/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/commands/__pycache__/install.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/distributions/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/distributions/__pycache__/base.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/distributions/__pycache__/installed.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/distributions/__pycache__/sdist.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/distributions/__pycache__/wheel.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/index/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/index/__pycache__/collector.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/index/__pycache__/package_finder.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/index/__pycache__/sources.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/locations/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/locations/__pycache__/_sysconfig.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/locations/__pycache__/base.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/__pycache__/_json.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/__pycache__/base.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/__pycache__/pkg_resources.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/importlib/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/importlib/__pycache__/_compat.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/importlib/__pycache__/_dists.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/metadata/importlib/__pycache__/_envs.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/candidate.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/direct_url.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/format_control.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/index.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/installation_report.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/link.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/scheme.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/search_scope.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/selection_prefs.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/target_python.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/models/__pycache__/wheel.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/network/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/network/__pycache__/auth.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/network/__pycache__/cache.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/network/__pycache__/download.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/network/__pycache__/lazy_wheel.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/network/__pycache__/session.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/network/__pycache__/utils.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/__pycache__/check.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/__pycache__/prepare.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/build_tracker.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/metadata.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/metadata_editable.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/metadata_legacy.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/wheel.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/wheel_editable.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/wheel_legacy.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/editable_legacy.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/wheel.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/req/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/req/__pycache__/constructors.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/req/__pycache__/req_file.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/req/__pycache__/req_install.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/req/__pycache__/req_set.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/req/__pycache__/req_uninstall.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/__pycache__/base.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/base.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/candidates.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/factory.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/found_candidates.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/provider.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/reporter.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/requirements.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/resolver.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/_jaraco_text.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/_log.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/appdirs.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/compat.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/compatibility_tags.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/deprecation.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/direct_url_helpers.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/egg_link.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/encoding.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/entrypoints.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/filesystem.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/filetypes.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/glibc.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/hashes.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/logging.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/misc.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/models.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/packaging.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/setuptools_build.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/subprocess.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/temp_dir.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/unpacking.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/urls.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/virtualenv.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/utils/__pycache__/wheel.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/vcs/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/vcs/__pycache__/bazaar.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/vcs/__pycache__/git.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/vcs/__pycache__/mercurial.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/vcs/__pycache__/subversion.cpython-311.pyc
.venv/Lib/site-packages/pip/_internal/vcs/__pycache__/versioncontrol.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/adapter.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/cache.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/controller.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/filewrapper.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/serialize.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/wrapper.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/file_cache.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/redis_cache.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/core.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/big5freq.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/big5prober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/chardistribution.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/charsetgroupprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/charsetprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/codingstatemachine.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/codingstatemachinedict.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/cp949prober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/enums.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/escprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/escsm.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/eucjpprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euckrfreq.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euckrprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euctwfreq.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/euctwprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/gb2312freq.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/gb2312prober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/hebrewprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/jisfreq.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/johabfreq.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/johabprober.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/jpcntx.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langbulgarianmodel.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langgreekmodel.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langhebrewmodel.cpython-311.pyc
.venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/langrussianmodel.cpython-311.pyc
